---
title: "Homepage"
---
{% assign about_us = site.data.global_defaults | find: "name", "About us" %}
{% assign email = site.data.global_defaults | find: "name", "Email" %}
{% assign instagram = site.data.global_defaults | find: "name", "Instagram" %}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header class="major">
            <h2>About SUTD NihonGo!</h2>
        </header>
        <p>SUTD NihonGo is SUTD's Japanese cultural club. Our regular club activities are mainly weekly cultural sessions where our members share about various aspects of Japan culture.
            Every year, we also conduct activities aimed at fellow SUTDents such as workshops and our annual exhibition at SUTD's Campus Centre. Besides these, we also maintain relations between SUTD and other Japanese colleges and schools through activities such as exchanges and tours.
        </p>
        <ul class="actions">
            <li><a href={{ about_us.link }} class="button big">About Us</a></li>
        </ul>
    </div>
    <span class="image object">
        {% include img_src.html img_name="2021_01_08_club_photo.jpg" %}
    </span>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Examples of weekly cultural session topics</h2>
        <!--(TODO: Icons, fix spacings, Insta embeds)-->
    </header>
    <div class="features">
        <article>
            <span class="icon solid fa-utensils"></span>
            <div class="content">
                <h3><a href="#" style="border-bottom: 0px;">Japanese food</a></h3>
                <p>Our club provides avenues to explore Japanese cooking freely. One of our recent discoveries was the idea to add lotus root to Japanese curry.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-paint-brush"></span>
            <div class="content">
                <h3><a href="#" style="border-bottom: 0px;">Art and craft</a></h3>
                <p>Some of our topics included origami, felt doll crafting and caligraphy.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-chess-pawn"></span>
            <div class="content">
                <h3><a href="#" style="border-bottom: 0px;">Games</a></h3>
                <p>Some of our sessions cover traditional games like kendama, hanafuda and shogi. (Though some of us do like mobile games like FGO and Bandori and discuss them too!)</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-subway"></span>
            <div class="content">
                <h3><a href="#" style="border-bottom: 0px;">Trains</a></h3>
                <p>Yes, <u>trains</u>. Train station naming conventions, train models, Tokyo's Shinjuku Station, random YouTube music videos to help you memorise station names and pretty much anything else to do with Japan's train networks.</p>
            </div>
        </article>
    </div>
    <br>
    <h4>Check out <a href= {{ instagram.link }} target="_blank" style="border-bottom: dotted 1px;">our Instagram page</a> for some photos of our weekly sessions in action!</h4>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Highlighted past events</h2>
    </header>
    <div class="posts">
        {% include event_highlight.html event="20191120" %}
        {% include event_highlight.html event="20191020" %}
    </div>
</section>

<section id="banner">
    <div class="content">
        <header class="major">
            <h2>Reach out to us!</h2>
        </header>
        <p>Looking to join us as a new member? We welcome members from all years, whether you are an undergraduate, postgraduate or alumni.<br><br>
            Or are you perhaps looking to collaborate with us? Each year we work together with fellow SUTD 5th Rows such as SUTD MVMC and SUTD Gunpla Club to bring about some of our school-wide events.
            We also collaborate with organisations outside SUTD, such as overseas schools, to host events including student exchanges.<br><br>
            Feel free to contact us on either:
        </p>

        <ul>
            <li> Our club email: <a href={{ email.link }} style="border-bottom: dotted 1px;">{{ email.email }}</a></li>
            <li> Our Instagram: <a href={{ instagram.link }} target="_blank" style="border-bottom: dotted 1px;">{{ instagram.id }}</a></li>
        </ul>

        <p>You can also find these contact info in the sidebar on any page in our website.</p>

    </div>
    <span class="image object">
        {% include img_src.html img_name="2021_01_08_titech_exchange_2019.jpg" %}
    </span>

</section>