---
title: "Past Events"
---
<section>

    <header class="main">
        <h1>Past Events</h1>
    </header>

    <h4>On this page, we showcase some of the past activities that we have done. Do click on the relevant buttons to read more on each activity!</h4>

    <script>
        const monthDict = {"01": "January", "02": "February", "03": "March",
                            "04": "April", "05": "May", "06": "June",
                            "07": "July", "08": "August", "09": "September",
                            "10": "October", "11": "November", "12": "December"};

        var data = [];
        {% for event in site.events %}
            data.push({"name": "{{ event.title }}",
                "start_date": ["{{ event.start_year }}","{{ event.start_month }}".length==1? "0{{ event.start_month }}":"{{ event.start_month }}","{{ event.start_day }}".length==1? "0{{ event.start_day }}":"{{ event.start_day }}"],
                "end_date": ["{{ event.end_year }}","{{ event.end_month }}".length==1? "0{{ event.end_month }}":"{{ event.end_month }}","{{ event.end_day }}".length==1? "0{{ event.end_day }}":"{{ event.end_day }}"],
                "description": "{{ event.description }}",
                "cover_image":
                    {% if event.cover_image %}
                        {% assign img = site.static_files | where: "name", event.cover_image %}
                        {% assign img = img[0] %}
                        "{{ img.path }}"
                    {% else %}
                        {% assign img = site.static_files | where: "name", "placeholder01.jpg" %}
                        {% assign img = img[0] %}
                        "{{ img.path }}"
                    {% endif %},
                "link": "{{ event.url }}"
            });
        {% endfor %}
        var years = {};
        for (var i=0;i<data.length;i++){
            years[data[i]["start_date"][0]] = true;
        }
        years = Object.keys(years);
        years.sort();
        var dataSorted = {};
        for (var i=0;i<years.length;i++){
            var dataNested = {};
            var monthsTemp = {};
            for (var j=0;j<data.length;j++){
                if (data[j]["start_date"][0]!=years[i]) continue;
                monthsTemp[data[j]["start_date"][1]] = true;
                if (!(data[j]["start_date"][1] in dataNested)) dataNested[data[j]["start_date"][1]] = [data[j]];
                else dataNested[data[j]["start_date"][1]].push(data[j]);
            }
            dataNested["months"] = Object.keys(monthsTemp).sort();
            for (var j=0;j<dataNested["months"].length;j++){
                dataNested[dataNested["months"][j]].sort(function(a, b){
                    if (a["start_date"][0] < b["start_date"][0]) {return -1;}
                    if (a["start_date"][0] > b["start_date"][0]) {return 1;}
                    return 0;
                });
            }
            dataSorted[years[i]] = dataNested;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            for (var i=0;i<years.length;i++){
                document.getElementById("years").innerHTML += "<li><a class=\"button\" id=\"year_" + years[i]
                + "\" onclick=\"selectYear(" + years[i]  + ")\" style=\"\">" + years[i] + "</a></li>" ;
            }
        });

        var currentYear = null;
        var currentMonth = null;

        function selectYear(year){
            year = year+"";
            if (currentYear==year) return;
            if (currentYear!=null) {
                document.getElementById("year_"+currentYear).style = "";
                document.getElementById("year_"+currentYear).className = "button";
            }
            else {
                document.getElementById("months_select").innerHTML = "Select month:";
            }
            document.getElementById("year_"+year).style = "cursor: auto;";
            document.getElementById("year_"+year).className = "button primary";
            currentYear = year;

            document.getElementById("months").innerHTML = "";
            currentMonth = null;
            loadMonths(year);

            document.getElementById("events").innerHTML = "";
        }

        function loadMonths(year){
            for (var i=0;i<dataSorted[year]["months"].length;i++){
                var month = dataSorted[year]["months"][i].length==1? "0" + dataSorted[year]["months"][i]: dataSorted[year]["months"][i];
                document.getElementById("months").innerHTML += "<li><a class=\"button\" id=\"month_" + month
                + "\" onclick=\"selectMonth(" + month  + ")\" style=\"\">" + monthDict[month] + "</a></li>" ;
            }
        }

        function selectMonth(month){
            month=month+"";
            if (month.length==1) month = "0"+month;
            if (currentMonth==month) return;
            if (currentMonth!=null){
                document.getElementById("month_"+currentMonth).style = "";
                document.getElementById("month_"+currentMonth).className = "button";
            }
            document.getElementById("month_"+month).style = "cursor: auto;";
            document.getElementById("month_"+month).className = "button primary";
            currentMonth = month;

            document.getElementById("events").innerHTML = "";
            loadMonth(currentYear,month);
        }

        function formatDate(obj){
            if (obj["start_date"][0]==obj["end_date"][0]){
                if (obj["start_date"][1]==obj["end_date"][1]){
                    if (obj["start_date"][2]==obj["end_date"][2]){
                        return obj["start_date"][2] + " " + monthDict[obj["start_date"][1]] + " " + obj["start_date"][0];
                    }
                    else return obj["start_date"][2] + " - "
                + obj["end_date"][2] + " " + monthDict[obj["end_date"][1]] + " " + obj["end_date"][0];
                }
                else return obj["start_date"][2] + " " + monthDict[obj["start_date"][1]] + " - "
                + obj["end_date"][2] + " " + monthDict[obj["end_date"][1]] + " " + obj["end_date"][0];
            }
            else return obj["start_date"][2] + " " + monthDict[obj["start_date"][1]] + " " + obj["start_date"][0] + " - "
                + obj["end_date"][2] + " " + monthDict[obj["end_date"][1]] + " " + obj["end_date"][0];
        }
        
        function loadMonth(year,month){
            for (var i=0;i<dataSorted[year][month].length;i++){
                document.getElementById("events").innerHTML += "<section id=\"banner\">"
						+ "<div class=\"content\">"
							+ "<header class=\"major\">"
							    + "<h2>" + dataSorted[year][month][i]["name"] + "</h2>"
							    + "<h3>" + formatDate(dataSorted[year][month][i]) + "</h3>"
							+ "</header>"
							+ "<p>" + dataSorted[year][month][i]["description"] + "</p>"
							+ "<ul class=\"actions\">"
							+ "<li><a href=\"" + dataSorted[year][month][i]["link"] + "\" class=\"button big\">Read More</a></li>"
							+ "</ul>"
						+ "</div>"
						+ "<span class=\"image object\">"
						    + "<img src=\"" + dataSorted[year][month][i]["cover_image"] + "\" alt=\"\" />"
						+ "</span>"
					+ "</section>";
            }
        }

        
    </script>


</section>

<section>
    <div class="row">
		<div class="col-6 col-12-small">
            <h4>Select year:</h4>
			<ul id="years" class="actions stacked">
			</ul>
		</div>
		<div class="col-6 col-12-small">
            <h4 id="months_select"></h4>
			<ul id="months" class="actions stacked">
			</ul>
	    </div>
    </div>
</section>

<section id="events">
</section>
